/* Global styles */
body {
  background-color: #1f2937; /* Slate Background */
  font-family: sans-serif;
  color: #f1f5f9; /* Light text color */
}

/* Buton Hover Efekti */
.btn-soft {
  transition: box-shadow 0.18s, background 0.18s, color 0.18s;
}

.btn-soft:hover {
  box-shadow: 0 6px 18px rgba(2, 6, 23, 0.18), 0 1.5px 8px rgba(20, 184, 166, 0.09);
  background: linear-gradient(90deg, #0891b2 0%, #0ea5e9 100%);
  color: white;
}
